{% load i18n static admin_urls admin_list %}


    <div class="card">
        <div class="card-body actions">
            {% for action in action_form %}
                {% if action.field.choices %}
                    {% for choice in action.field.choices %}
                        {% if choice.0 %}
                            <button href="javascript:void" class="btn btn-default btn-block mt-1">
                                {{ choice.1 }}
                            </button>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
