{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block nav-breadcrumbs %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content %}
    <div class="dashboard-welcome">
        <h1>{% translate 'Welcome to the Django administration interface.' %}</h1>
        <p>{% translate 'Use the navigation sidebar to access different sections of the admin site.' %}</p>
    </div>
{% endblock %}

{% block sidebar %}
{% endblock %}
