div#container {
    min-height: calc(100vh - 130px);
}

span.feedback.danger > ul#id_token_error {
    list-style: none;
    padding: 0;
    margin: 0;
}


fieldset.fieldset.br-card {
    padding: 2em;
}

fieldset.fieldset.br-card > legend {
    top: 5em;
    position: relative;
    min-height: 7em;
}

fieldset.fieldset > legend > .description {
    font-size: 80%;
    font-weight: 500;
    color: var(--color-light);
}


th.action-checkbox-column, td.action-checkbox {
    width: 24px;
    padding: 16px 16px;
}

#result_list tbody th {
    background: transparent;
}

#result_list tbody th:hover {
    background: linear-gradient(rgba(var(--color-rgb),var(--hover)),rgba(var(--color-rgb),var(--hover)));
}

a.br-item {
    text-decoration: none;
}

.main-content a {
    text-decoration: none;
}

.main-content a {
    text-decoration: none;
}

.br-input .feedback, .br-checkbox .feedback {
    color: var(--color-light);
}
