{% load static %}

<!-- Ícones baseados no gov.br -->
<link rel="apple-touch-icon"                                sizes="180x180"     href="{% static 'vendors/serpro/favicon/apple-touch-icon.png'   %}">
<link rel="icon"                        type="image/png"    sizes="16x16"       href="{% static 'vendors/serpro/favicon/favicon-16x16.png'      %}">
<link rel="icon"                        type="image/png"    sizes="32x32"       href="{% static 'vendors/serpro/favicon/favicon-32x32.png'      %}">
<link rel="manifest"                                                            href="{% static 'vendors/serpro/favicon/site.webmanifest'       %}">
<link rel="mask-icon"                                       color="#00a300"   href="{% static 'vendors/serpro/favicon/safari-pinned-tab.svg'  %}">
<meta name="msapplication-TileImage"    content="{% static 'vendors/serpro/favicon/mstile-144x144.png' %}">
<meta name="msapplication-TileColor"    content="#00a300">
<meta name="theme-color"                content="#1351b4">